@model Category
<ol class="breadcrumb mb-4">
    <li<h1 class="mt-4"> Kategori Güncelle
    </h1>
        <div class="breadcrumb-item active">Admin</li>
</ol>
<div class="row">
    <div class="inline">
        <form method="post" action="YeniKategori">
            <label class="text">Kategori ismi </label>
            <input type="text" name="CategoryName" class="form-control"/>
            <button class="btn btn-primary">Ekle</button>
        </form>
    </div>
</div>