<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/templatev1/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/templatev1/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/templatev1/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/templatev1/ckeditor/contents.css">
</head>

<body>
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <partial name="LayoutPartial/_Header.cshtml" />
    <div class="container-md">
       
        @RenderBody()

    </div>

    <partial name="LayoutPartial/_Footer.cshtml" />
</body>
</html>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="~/templatev1/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/templatev1/js/typed.js"></script>
<script src="~/templatev1/ckeditor/ckeditor.js"></script>

