<div class="row bg-dark text-white">
    <div class="col-4 my-auto">
       
    </div>
    <div class="col-8 ms-auto text-end p-0">
        <div class="btn-group">
            <a class="btn btn-info rounded-0 text-light" href="~/Giris/LogOut">
                <i class="bi bi-person-fill-gear"></i>
                Kullanıcı Ayarları
            </a>
            <a class="btn btn-primary rounded-0 text-light" href="~/Konu/YeniKonu">
                <i class="bi bi-plus-square"></i>

                Yeni Konu Oluştur
            </a>
            <a class="btn  bg-danger rounded-0 text-light" href="~/Giris/LogOut">
                <i class="bi bi-box-arrow-right">Çıkış Yap</i>
            </a>
        </div>
    </div>

</div>