<div class="row bg-dark text-white">
    <div class="col-4 my-auto">
        <a href="#"><i class="bi bi-instagram text-white"></i></a>
        <a href="#"><i class="bi bi-twitter text-white"></i></a>
        <a href="#"><i class="bi bi-google text-white"></i></a>
        <a href="#"><i class="bi bi-linkedin text-white"></i></a>
    </div>
    <div class="col-4 ms-auto text-end p-0">
        <div class="btn-group">
            <a class="btn btn-dark rounded-0 text-light" href="~/Kayit/Index">
                <i class="bi bi-person-add"></i>
            </a>
            <a class="btn rounded-0 text-light" href="~/Giris/Index" style="background-color: #035AA6 !important;">
                <i class="bi bi-person"></i>
            </a>
        </div>
    </div>

</div>