@model dynamic
<form method="post" asp-action="YeniKonu">
    <div class="form-control">
        @Html.Hidden("AppUserId", (string)Convert.ToString(Model.GetUserId))

        <label class="form-control">Konu Başlığını Giriniz</label>
        <input type="text" name="TopicTitle" class="form-control" />
        <label class="form-control">Kategori Seç</label>
         @Html.DropDownList("CategoryID",(List<SelectListItem>)ViewBag.Category, new{@class="form-control"})
        <label class="form-control">İlk Postu Gir</label>

        <textarea class="ckeditor mt-5" maxlength="500" name="PostContent"></textarea>
        <button type="submit" class="btn btn-primary float-end m-1">Gönder</button>
    </div>
</form>


<!-- Buraya kadar istediğiniz kadar buton ve içerik ekleyebilirsiniz -->
<script>
    CKEDITOR.replace('PostContent'), {
        customConfig: "/ckeditor/config.js"

    };
</script>