@model ForumSitesi.Controllers.defaultController.ViewModel

<html>
    <head></head>
    <body>


@foreach (var item in Model.YeniKonular)
{
    @item.TopicTitle<br/>
    @item.TopicStatus <br/>
    @item.Category.CategoryName <br/>
    @item.TopicsDate
   
}
    
 
</body>
</html>
