.icon-1x {
    font-size: 24px !important;
}

a {
    text-decoration: none;
}

.text-primary,
a.text-primary:focus,
a.text-primary:hover {
    color: #035AA6 !important;
}

.text-black,
.text-hover-black:hover {
    color: #000 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

body {
    margin: 0 !important;
    padding: 0;
}

.navbar {
    z-index: 20;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.navbar-light .navbar-nav .navbar-link {
    color: #000;
}

.navbar-light .nav-item .nav-link {
    color: #000;
}

.navbar-light .nav-item .nav-link:active {
    color: #000;
}


@media only screen and(max-width:767px) {
    .navbar-nav {
        text-align: center;
    }

}

/*İkinci Menu*/
.nav .nav-item {
    border: 0;
    border-right: 1px;
    border-style: solid;
    border-color: #212529;
}

.nav .nav-item {}

.nav .nav-item .nav-link {
    color: #fff;

}

.nav .nav-item .nav-link:hover {
    background-color: #212529;
}



.banner {
    background-image: url(../images/b1.jpg);
    background-size: cover;
    background-position: center center;
    height: 75vh;
}

.banner-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}




.bi {
    margin-left: 2px;
}

.bi:hover {
    opacity: 0.7;
}



.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #0339A6;
    border-radius: 30px;
    padding: 10px;
}

.searchbar::placeholder {
    color: white !important;

}

.searchbar::-ms-input-placeholder {
    color: white !important;

}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 300px;
    caret-color: #307CBF;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #307CBF;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.altmenu {
    background-color: #035AA6 !important;
}

footer {
    background-color: #212529;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.card p{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
}

.commentcard:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*transition-delay: 0.3s; /* 0.2 saniye gecikme */
    
}